# Enable color support
if [ -x /usr/bin/dircolors ]; then
    test -r ~/.dircolors && eval "$(dircolors -b ~/.dircolors)" || eval "$(dircolors -b)"
    alias ls='ls --color=auto'
    #alias dir='dir --color=auto'
    #alias vdir='vdir --color=auto'

    alias grep='grep --color=auto'
    alias fgrep='fgrep --color=auto'
    alias egrep='egrep --color=auto'
fi

# ls aliases
alias ll='ls -alF'
alias la='ls -A'
alias l='ls -CF'

# Add an "alert" alias for long running commands.
# use -  sleep 10; alert
alias alert='notify-send --urgency=low -i "$([ $? = 0 ] && echo terminal || echo error)" "$(history|tail -n1|sed -e '\''s/^\s*[0-9]\+\s*//;s/[;&|]\s*alert$//'\'')"'

alias rm='rm -i'
alias start_onedrive='nohup onedrive --monitor --confdir="~/.config/onedrive" & nohup onedrive --monitor --confdir="~/.config/onedrive_ucy" &'
alias sync_onedrive='onedrive --confdir="~/.config/onedrive" ; onedrive --confdir="~/.config/onedrive_ucy" ;'

# File size
alias fs="stat -f \"%z bytes\""

# Package management
alias addrepo="sudo apt-add-repository"
alias update="sudo apt update && sudo apt list --upgradable"
alias upgrade="sudo apt -qq update && sudo apt upgrade && sudo apt-get dist-upgrade"
alias install="sudo apt install"
alias remove="sudo apt remove"
alias search="apt-cache search"

alias h='history'
alias j='jobs -l'

# jupyter notebook
alias jn='jupyter notebook'

# Chrome apps
alias outlook='nohup google-chrome --app="https://outlook.live.com/mail/inbox" > /dev/null &'
alias todo='nohup google-chrome --app="https://to-do.microsoft.com/" > /dev/null &'
alias googlecalendar='nohup google-chrome --app="https://calendar.google.com/calendar/r/month/" > /dev/null &'
alias messenger='nohup google-chrome --app="https://www.messenger.com/" > /dev/null &'

# Enable/disable touchpad
alias disable_touchpad='sudo rmmod hid_multitouch'
alias enable_touchpad='sudo modprobe hid_multitouch'

# Git related
alias ga='git add -A'
alias gc='git commit -v'
alias gcm='git commit -m '
alias gaC='git add -A && gc'
alias gac='git add -A && gc -m'
alias pull='git pull'
alias push='git push'
alias gpf='git push -f'
alias gp='echo "Use gpe (git push each)!"'
alias gpe='git push-each'
alias gpb='git push origin -u HEAD' # Push checked out branch to origin, create if doesn't yet exist
alias gb='git branch'
alias gbd='gb -d'
alias gch='git checkout'
alias gm='git merge '
alias recap='git log --all --oneline --no-merges --author=$(git config user.name)'
alias today='git log --since=00:00:00 --all --no-merges --oneline --author=$(git config user.name)'
alias gs='git status '
alias fd='git diff origin/master --name-only'

# Extract archives - use: extract <file>
# Credits to http://dotfiles.org/~pseup/.bashrc
function extract() {
    if [ -f $1 ] ; then
        case $1 in
            *.tar.bz2) tar xjf $1 ;;
            *.tar.gz) tar xzf $1 ;;
            *.bz2) bunzip2 $1 ;;
            *.rar) rar x $1 ;;
            *.gz) gunzip $1 ;;
            *.tar) tar xf $1 ;;
            *.tbz2) tar xjf $1 ;;
            *.tgz) tar xzf $1 ;;
            *.zip) unzip $1 ;;
            *.Z) uncompress $1 ;;
            *.7z) 7z x $1 ;;
            *) echo "'$1' cannot be extracted via extract()" ;;
        esac
    else
        echo "'$1' is not a valid file"
    fi
}

# System suspend ignoring inhibitors and users
alias sus='systemctl suspend -i'

# tmux workflow
alias ide='tmux split-window -b -v -p 80 vim'
