# enable color support of ls and also add handy aliases
if [ -x /usr/bin/dircolors ]; then
    test -r ~/.dircolors && eval "$(dircolors -b ~/.dircolors)" || eval "$(dircolors -b)"
    alias ls='ls --color=auto'
    #alias dir='dir --color=auto'
    #alias vdir='vdir --color=auto'

    alias grep='grep --color=auto'
    alias fgrep='fgrep --color=auto'
    alias egrep='egrep --color=auto'
fi

# some more ls aliases
alias ll='ls -alF'
alias la='ls -A'
alias l='ls -CF'

# Add an "alert" alias for long running commands.  Use like so:
#   sleep 10; alert
alias alert='notify-send --urgency=low -i "$([ $? = 0 ] && echo terminal || echo error)" "$(history|tail -n1|sed -e '\''s/^\s*[0-9]\+\s*//;s/[;&|]\s*alert$//'\'')"'

alias rm='rm -i'
alias start_onedrive='nohup onedrive --monitor --confdir="~/.config/onedrive" & nohup onedrive --monitor --confdir="~/.config/onedrive_ucy" &'
alias sync_onedrive='onedrive --confdir="~/.config/onedrive" ; onedrive --confdir="~/.config/onedrive_ucy" ;'

# update on one command
alias update='sudo apt-get update && sudo apt-get upgrade && sudo apt-get dist-upgrade'

# handy short cuts #
alias h='history'
alias j='jobs -l'

# jupyter notebook
alias jn='jupyter notebook'

# outlook
alias outlook='nohup google-chrome --app="https://outlook.live.com/mail/inbox" > /dev/null &'
alias todo='nohup google-chrome --app="https://to-do.microsoft.com/" > /dev/null &'

# google calendar
alias googlecalendar='nohup google-chrome --app="https://calendar.google.com/calendar/r/month/" > /dev/null &'

# enable/disable touchpad
alias disable_touchpad='sudo rmmod hid_multitouch'
alias enable_touchpad='sudo modprobe hid_multitouch'
